@font-face {
    font-family: KronaOne-Regular;
    src: url(fonts/KronaOne-Regular.ttf);
}
@font-face {
    font-family: Krub-Medium;
    src: url(fonts/Krub-Medium.ttf);
}
body{
    display: block;
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
.security{
    border-radius: 16px;
    border-color: black;
}
#toggle-dark-mode {
    position: fixed;
    bottom: 20px;
    right: 15px;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.dark-mode{
    background: black;
    color: white;
    
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    /*margin-bottom: -0px;
    margin-left: -10px;*/
}
